@import 'libs/bootstrap-reboot.min';
@import 'base/mixin';
@import 'base/variables';
@import 'libs/fonts';
@import 'blocks/head-page';
@import 'blocks/header';
@import 'blocks/sidebar';
@import 'blocks/title';
@import 'blocks/nav-menu';

* {
    font-family: 'Sofia', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
}
// .page {
//     min-height: 100vh;
// }
.logo-mini {
    display: none;
}
@import 'blocks/media';